{
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^(react|redux)(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
